.post {
    line-height: 140%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px 5px 5px 15px;
    border-radius: 3px;
    background: #fff;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, .4);
}
.post__footer {
    margin-top: 10px;
}
.post__image {
    display: block;
    width: 100%;
    border-radius: 3px;
}


.user__name {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #000;
}
.user__name:hover {
    text-decoration: underline;
    color: #038543;
}
.user__post-time {
    font-size: 14px;
    display: inline-block;
    color: #8899a6;
}
.user__icon {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
}
