@font-face {
    font-family: 'Myriad Set Pro';
    font-style: normal;
    font-weight: 100;
    src: url('myriad-set-pro_ultralight.woff2') format('woff2'), url('myriad-set-pro_ultralight.woff') format('woff'), url('myriad-set-pro_ultralight.ttf') format('truetype');
}
